.comments{
    background: #075069;
}
.oddComment {
    background: #03678c;
    height: 30px;
    color: black;
    font-family:Bookman, URW Bookman L,serif;
    font-style: italic;
    font-weight: 900;
    font-size: 18px;

}

.evenComment {
    background: #033141;
    height: 30px;
    color: black;
    font-family:Bookman, URW Bookman L,serif;
    font-style: italic;
    font-weight: 900;
    font-size: 18px;
}